%h2 
  Deltakere på
  = link_to h(@talk.title), talk_path(@talk)
  (#{@talk.talk_type.name})

%br

%table{:class => 'table table-striped table-hover tablesorter'}
  %thead
    %tr
      %th Navn
      %th Selskap
      %th Epost
  %tbody
    - for user in @participants.each
      %tr
        %td= user.name
        %td= user.company
        %td= user.email

%p 
  #{@talk.ws_free_places} plasser igjen.

%p 
  = link_to "Tilbake til foredrag", talk_path(@talk)