= f.input :email, :autofocus => true
= f.input :name
= f.input :tlf, :label => "Telefon"
= f.input :password
= f.input :company
= f.input :twitter, :placeholder => '@username'
= f.input :allergies
= f.input :accepted_optional_email, :label => 'Jeg ønsker epost om tilsvarende arrangementer'
= f.input :accepted_privacy, :as => :boolean, :label => 'Jeg aksepterer vilkårene'
= f.input :includes_dinner, :inline_label=> 'Jeg deltar på konferansemiddagen', :label => false
