.row-fluid
  .span12
    %h2
      =t("general.register")
    %p
      Velkommene til årets smidigkonferanse.

    %ul
      %li Early Bird billett koster NOK 2.000,- inklusive mva.
      %li Vanlig billett koster NOK 3.200,- inklusive mva.
      %li
        Foredragsholdere slipper inn  <strong>gratis</strong>, forutsatt at foredraget godkjennes. <br />
        = link_to "Trykk her hvis du skal registrere lyntale eller workshop", new_registration_path(resource_name, :ticket_name=>"Speaker")

    %p
      %a(href="/info/policy")
        Vennligst les informasjon om sikkerhet og personvern før du bestiller.

    %br

    = simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
      - if @special_ticket
        %input{:type => "hidden", :name => "ticket_name", :value => "#{@special_ticket.name}"}
      = f.association :ticket, :collection => @tickets, :label_method => :display, :selected => @ticket_default.id
      = f.input :email, :autofocus => true
      = f.input :name
      = f.input :tlf
      = f.input :password, :required => true
      = f.input :company
      = f.input :twitter, :placeholder => '@username'
      = f.input :allergies
      = f.input :includes_dinner, :inline_label=> 'Jeg deltar på konferansemiddagen', :label => false
      = f.input :accepted_optional_email, :inline_label => 'Jeg ønsker epost om tilsvarende arrangementer (færre enn 1 pr mnd)', :label => false
      = f.input :accepted_privacy, :as => :boolean, :inline_label => 'Jeg forstår at påmeldingen er bindende og at Smidig vil sende meg epost', :label => false

      .form-actions
        = f.button :submit, :class => 'btn-primary'
        = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn'