= simple_form_for @roomslot, :html => { :class => 'form-horizontal' } do |f|
  = f.association :room
  = f.association :timeslot
  = f.association :talks

  .actions
    = f.button :submit, :class => 'btn-primary'


%hr
%h1 Testing:
%select{:multiple => "multiple", :id => "available-talks"}
  - for talk in @available_talks
    %option{:value => talk.id}
      #{talk.id} - #{talk.title}

%hr