= simple_form_for target, :html => { :class => 'form-horizontal' } do |f|
  = f.association :room
  = f.association :timeslot, :label_method => :description
  = f.input :title
  = f.input :description

  = render 'shared/formactions', :f => f
