= render 'shared/indextitle'

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Details
      %th
      %th

  %tbody
    - @roomslots.each do |roomslot|
      %tr
        %td
          #{roomslot.room.name}: #{roomslot.timeslot.start} - #{roomslot.timeslot.end}
        %td.text-right
          = render 'shared/showedit', :target => roomslot
          = render 'shared/destroy', :target => roomslot

= render 'shared/buttonrow', :new => true
