= render 'shared/title', :prefix => 'Show'

%p#notice= notice

%p
  = "#{@roomslot.room.name}: #{@roomslot.timeslot.start} - #{@roomslot.timeslot.end}"

= render 'shared/buttonrow', :edit => true, :target => @roomslot
