.row-fluid.talk
  .span10
    %header
      %h4 
        =link_to talk.title, talk_path(talk)
        
      %em Foreslått av:     
      = talk.user.name
      - for user in talk.users
        ,
        =user.name

      %br
      %span
        - if talk.talk_type
          %em Type: 
          #{talk.talk_type.name}

      %span
        - if talk.talk_category
          | 
          %em Kategori: 
          #{talk.talk_category.name}

      %span
        - if talk.status
          | 
          %em Status: 
          #{talk.status == "approved_and_confirmed" ? "Godkjent" : "Registrert"}       
     
      %h6 Beskrivelse:
      = simple_format talk.description
  .span2
