%a.pull-right{:href => "#{talks_path}.csv", :class => "btn"}
  %i.icon-th
  Eksporter som CSV

%header.clearfix
  %h1
    Foredrag

  %p= link_to 'Foreslå ny foredrag', new_talk_url

%dl.dl-horizontal
  - for c in @talk_type_count
    %dt
      #{c[:name]}
    %dd
      #{c[:total]} / #{c[:approved]}

%article.main  
  %table.table.tablesorter
    %thead
      %tr
        %th
          (Id) Tittel
        %th
          Taler (bedrift)
        %th.sorter-sortOnDataAttrib.filter-parsed
          Stemmer
        %th.sorter-sortOnDataAttrib.filter-select{"data-placeholder" => "Alle"}
          Status
        %th.filter-select{"data-placeholder" => "Alle"}
          Foredrags type
        %th.filter-select{"data-placeholder" => "Alle"}
          Kategori
        %th.filter-false
          Opprettet
        %th.filter-false.sorter-false
    %tbody
      - for talk in @talks
        = render :partial => "talk", :locals => { :talk => talk }
