:markdown
  # Slette bruker
  _Før du sletter en bruker anbefales det at du sletter en evt betaling og bestilling. Dersom brukeren tilhører en fullført bestilling vil det bli missmatch mellom bestillingen og betaling._

  #### Brukerinfo:
  * **Navn:**  #{@user.name}
  * **Epost:** #{@user.email}
  * **Firma:** #{@user.company}

%h4 Bestillingsinfo:
- if @user.order
  %ul
    %li
      %strong Bestilling:
      = link_to '#'+@user.order.id.to_s, {:controller => :orders, :action => 'show', :id => @user.order.id}  if @user.order
      - if @user.order.owner_user_id == @user.id
        %strong (EIER!)
      - else
        %strong (ikke eier)
    %li
      %strong Deltakere:
      - for user in @user.order.users
        #{user.name} (#{user.email}),

    %li
      %strong Betaling
      = link_to '#'+@user.order.payment.id.to_s, {:controller => :payments, :action => 'show', :id => @user.order.payment.id} if @user.order.payment
- else
  %p
    Brukeren tilhører ingen bestilling!

%h4 Foredrag
Hovedforfatter til foredrag 
%em (vil også bli slettet)
%ul
  - for talk in @user.all_talks
    %li
      = link_to talk.title, talk

  - if @user.all_talks.size == 0
    %li ingen

Co-speaker på foredrag:
%ul
  - for talk in @user.talks
    %li
      = link_to talk.title, talk
  - if @user.talks.size == 0
    %li (ingen)

%h3
  %i Er du HELT sikker på at du vil slette denne brukeren og evt bestilling?

.form-actions
  = link_to(@user, :confirm =>"Er du sikker på at du vil slette #{@user.name}?", :method=>:delete, :class => 'btn btn-danger', :title => "Slett bruker") do
    %i{:class => "icon-remove"}
    Ja slett bruker

  = link_to(users_path, :class => 'btn btn-primary', :title => "Avbryt") do
    %i{:class => "icon-backward"}
    Nei, avbryt!
