%a.pull-right{:href => "#{users_path}.csv"}
  %i.icon-th
  Eksporter som CSV

%table{:class => 'table table-striped table-hover'}
  %thead
    %tr
      %th ID
      %th Dato
      %th 
      %th Navn
      %th Epost
      %th Firma
      %th Billett
      %th Pris
      %th Fullført
      %th Bestilling
      %th
  %tbody
    - for user in @users
      %tr
        %td= link_to "#{user.id}", edit_user_path(user)
        %td= user.created_at.to_formatted_s(:short)
        %td
          %img{:src => "#{user.profile_picture}?s=35&&d=wavatar"}
        %td
          - if user.admin
            %i{:class => "icon-user", :title => "Admin"}
          = user.name
        %td= user.email
        %td= user.company
        %td= user.ticket.name if user.ticket
        %td= user.ticket.price if user.ticket
        %td
          = link_to({:action => 'complete', :id => user.id}, :title => "Toggle fullført") do
            = user.completed ? "Ja" : "Nei"

        %td= link_to '#'+user.order.id.to_s, {:controller => :orders, :action => 'show', :id => user.order.id}  if user.order
        %td
          = link_to({:action => 'make_admin', :id => user.id}, :title => "Toggle Admin", :class => 'btn btn-primary', :confirm => "#{admin_toggle_confirm_msg(user)}") do
            %i{:class => "icon-user"}

          = link_to({:action=> 'delete', :id=> user.id}, :class => 'btn btn-danger', :title => "Slett bruker") do
            %i{:class => "icon-remove"}

