%a(href="/users"){:class => "btn pull-right"}
  %i.icon-backward
  Tilbake til alle brukere

%header
  %h1
    Foredragsholdere

%table{:class => 'table table-striped table-hover tablesorter'}
  %thead
    %tr
      %th.filter-false ID
      %th.filter-false Dato
      %th.filter-false.sorter-false 
      %th.filter-false Navn
      %th.filter-false Epost
      %th.filter-false Firma
      %th.filter-false Godkjent
      %th.filter-false Antall foredrag
  %tbody
    - for user in @speakers
      %tr
        %td= user.id
        %td= user.created_at.to_formatted_s(:short)
        %td
          %img{:src => "#{user.profile_picture}?s=35&&d=wavatar"}
        %td= user.name
        %td= user.email
        %td= user.company
        %td= user.completed ? "Ja" : "Nei"
        %td= user.all_talks.size