%h2 Hei #{@user.name}
%p
  Velkommen til Smidig 2013. På denne siden finner du alt vi har registrert om deg.

.row-fluid
  .span6
    :markdown
      #### Din profil
      - **Navn**: #{@user.name}
      - **Epost**: #{@user.email}
      - **Telefon**: #{@user.tlf}
      - **Twitter**: #{@user.twitter}
      - **Firma**: #{@user.company}
      - **Deltar på konferansemiddag**: <span class="dinner">#{@user.includes_dinner ? "Ja": "Nei"}</span>
      - **Billett**: #{@user.ticket.display}
      - [Kvittering](my-profile/receipt)
    = link_to "Endre profil", edit_user_registration_path

    %br
    %br

    - if @order
      :markdown
        #### Din bestilling
        - **Status**: #{@order.status}
        - **Opprettet**: #{@order.created_at.to_formatted_s(:long)}
        - **Eies av**: #{@order.owner.name}
        - **Totalt pris**: kr #{@order.price},-

      - if @order.owner_user_id == @user.id
        = link_to "#{@order.completed ? "Se" : "Fullfør"} din bestilling",  {:controller => "orders", :action => "show", :id => @order.id}

  .span3
    .alert.alert-success.dinner-question
      %h4 Skal du på konferansemiddagen?
      = link_to " Ja ", {:action => "dinner_registration", :dinner => "yes"}, :class => 'btn btn-primary', :remote => true
      = link_to " Nei ", {:action => "dinner_registration", :dinner => "no"}, :remote => true
