= form_for @sponsor do |f|
  - if @sponsor.errors.any?
    #error_explanation
      %h5= "#{pluralize(@sponsor.errors.count, "error")} prohibited this sponsor from being saved:"
      %ul
        - @sponsor.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :url
    = f.text_field :url, :class=> "span4"
  .field
    = f.label :imageUrl
    = f.text_field :imageUrl, :class=> "span4"
  .field
    = f.label :description
    = f.text_area :description, :rows => 3
  .actions
    = f.submit 'Save'
