= render 'shared/indextitle'

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Url
      %th Imageurl
      %th Description
      %th

  %tbody
    - @sponsors.each do |item|
      %tr
        %td= item.name
        %td= item.url
        %td= item.imageUrl
        %td= item.description
        %td.text-right
          = render 'shared/showedit', :target => item
          = render 'shared/destroy', :target => item

= render 'shared/buttonrow'
