%p#notice= notice

%p
  %b Name:
  = @sponsor.name
%p
  %b Url:
  = @sponsor.url
%p
  %b Imageurl:
  = @sponsor.imageUrl
%p
  %b Description:
  = @sponsor.description

= link_to 'Edit', edit_sponsor_path(@sponsor)
\|
= link_to 'Back', sponsors_path
