= render 'shared/title', :prefix => 'Show'

%p#notice= notice

%p
  %b Name:
  = @sponsor.name

%p
  %b Url:
  = @sponsor.url
%p
  %b Imageurl:
  = @sponsor.imageUrl
%p
  %b Description:
  = @sponsor.description

= render 'shared/buttonrow', :target => @sponsor
