%h1 Orders

%table{:class => 'table'}
  %thead
    %tr
      %th= 'Id'
      %th= 'Date'
      %th= 'Owner'
      %th= 'Price'
      %th= 'Comment'
      %th= 'Completed'
      %th= ''
      %th= ''
  %tbody
    - for order in @orders
      %tr
        %td= order.id
        %td= order.created_at
        %td= order.owner.email
        %td= order.price
        %td= order.comment
        %td= order.completed
        %td= link_to 'Show', orders_show_path(:id => order.id)