%h2 Din bestilling:

%dl.dl-horizontal
  %dt Id:
  %dd #{@order.id}
  %dt Dato:
  %dd #{@order.created_at}
  %dt Påmelder:
  %dd #{@order.owner.name}
  %dt Total pris:
  %dd #{@order.price},-
  %dt Status:
  %dd #{@order.status}

%h3 Påmeldte deltakere:
%table{:class => 'table table-striped'}
  %thead
    %tr
      %th= 'Name'
      %th= 'Email'
      %th= 'Billett'
      %th= 'Price'
  %tbody
    - for user in @order.users
      %tr
        %td #{user.name}
        %td #{user.email}
        %td= user.ticket.name
        %td #{user.ticket.price},-
    %tr
      %td{:colspan => 3}
      %td
        %strong #{@order.price},-
    %tr
      %td{:colspan => 4, :class => "text-right"}
        - unless @order.payment
          %a{:href => "new_user"}
            %i.icon-plus-sign
            Legg til deltaker


PS! Det er ikke mulig å legge til flere deltakere etter at du har startet en betalingsprosess!

- unless @order.payment
  .form-actions
    #{link_to 'Fullfør med Paypal', payments_new_paypal_path(:order_id => @order.id), :class => 'btn btn-large btn-primary'}
    #{link_to 'Fullfør med Faktura', payments_new_manual_path(:order_id => @order.id), :class => 'btn btn-large'}

- if @order.payment && !@order.payment.completed?
  .form-actions
    #{link_to 'Fullfør betaling', payments_complete_path(:id => @order.payment.id), :class => 'btn btn-large btn-primary'}