%h3 Din bestilling

= render "details", :order => @order

%br

%h4 Deltakere på din bestilling:
%table{:class => 'table table-striped'}
  %thead
    %tr
      %th Navn
      %th Epost
      %th Telefon
      %th Billett
      %th.text-right Pris
  %tbody
    - for user in @order.users
      %tr
        %td #{user.name}
        %td #{user.email}
        %td #{user.tlf}
        %td #{user.ticket.name if user.ticket}
        %td.text-right #{user.ticket.price if user.ticket},-
    %tr
      %td{:colspan => 4}
      %td.text-right
        %strong #{@order.price},-
    %tr
      %td{:colspan => 5, :class => "text-right"}
        - unless @order.payment
          = link_to({:action => :new_user, :order_id => @order.id}, :title => "Legg til flere deltakere på denne bestillingen.") do
            %i.icon-plus-sign
            Legg til deltaker


PS! Det er ikke mulig å legge til flere deltakere etter at du har startet en betalingsprosess.

- unless @order.payment
  .form-actions
    #{link_to 'Betal med Paypal', payments_new_paypal_path(:order_id => @order.id), :class => 'btn btn-large btn-primary'}
    - if @order.invoice_button_visible(current_user)
      #{link_to 'Be om faktura', payments_new_manual_path(:order_id => @order.id), :class => 'btn btn-large'}

- if @order.payment && !@order.payment.completed? && @order.payment.type == 'PaypalPayment'
  .form-actions
    #{link_to 'Fullfør betaling hos paypal', payments_complete_path(:id => @order.payment.id), :class => 'btn btn-large btn-primary'}
