%h2 Din bestilling:

= render "details", :order => @order

%h3 Påmeldte deltakere:
%table{:class => 'table table-striped'}
  %thead
    %tr
      %th Name
      %th Epost
      %th Telefon
      %th Billett
      %th.text-right= 'Pris'
  %tbody
    - for user in @order.users
      %tr
        %td #{user.name}
        %td #{user.email}
        %td #{user.tlf}
        %td= user.ticket.name
        %td.text-right #{user.ticket.price},-
    %tr
      %td{:colspan => 4}
      %td.text-right
        %strong #{@order.price},-
    %tr
      %td{:colspan => 5, :class => "text-right"}
        - unless @order.payment
          %a{:href => "new_user"}
            %i.icon-plus-sign
            Legg til deltaker

PS! Det er ikke mulig å legge til flere deltakere etter at du har startet en betalingsprosess!

- unless @order.payment
  .form-actions
    #{link_to 'Fullfør med Paypal', payments_new_paypal_path(:order_id => @order.id), :class => 'btn btn-large btn-primary'}
    - if @order.users.size > 2
      #{link_to 'Fullfør med Faktura', payments_new_manual_path(:order_id => @order.id), :class => 'btn btn-large'}

- if @order.payment && !@order.payment.completed? && @order.payment.type == 'PaypalPayment'
  .form-actions
    #{link_to 'Fullfør betaling', payments_complete_path(:id => @order.payment.id), :class => 'btn btn-large btn-primary'}