= simple_form_for target, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :price
  = f.input :active
  = f.input :visible
  = f.input :ticket_type, :collection => Ticket::TICKET_TYPES

  = render 'shared/formactions', :f => f
