= simple_form_for @ticket, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :price
  = f.input :active
  = f.input :visible
  = f.input :ticket_type, :collection => Ticket::TICKET_TYPES

  .form-actions
    = f.button :submit, :class => 'btn-primary'
