= render 'shared/indextitle'

%table.table.table-striped
  %thead
    %tr
      %th Navn
      %th Price
      %th Active
      %th Visible
      %th Type
      %th
  %tbody
    - @tickets.each do |item|
      %tr
        %td= item.name
        %td= item.price
        %td= item.active
        %td= item.visible
        %td= item.ticket_type
        %td.text-right
          = render 'shared/showedit', :target => item
          = render 'shared/destroy', :target => item

= render 'shared/buttonrow', :new => true
