= render 'shared/title', :prefix => 'Show'

%p
  %b Name:
  = @ticket.name
%p
  %b Price:
  = @ticket.price
%p
  %b Active:
  = @ticket.active
%p
  %b Visible:
  = @ticket.visible

= render 'shared/buttonrow', :edit => true, :target => @ticket
