%p
  %b Name:
  = @ticket.name
%p
  %b Price:
  = @ticket.price
%p
  %b Active:
  = @ticket.active
%p
  %b Visible:
  = @ticket.visible


= link_to 'Edit', edit_ticket_path(@ticket), :class => 'btn btn-primary'
|
= link_to 'Back', tickets_path, :class => 'btn btn-default'
