= simple_form_for @talk_comment, :html => {:multipart => true, :class => 'form-horizontal' } do |f|
  = f.input :content, input_html: { :class => "span6", :rows => "10" }
  = f.association :user
  = f.association :talk

  .form-actions
    = f.button :submit, :class => 'btn-primary', :value => 'Save'
