= render 'shared/indextitle'

%table.table.table-striped
  %tr
    %th Content
    %th User
    %th Title
    %th

  - @talk_comments.each do |talk_comment|
    %tr
      %td= talk_comment.content
      %td= talk_comment.user.name if talk_comment.user
      %td= talk_comment.talk.title if talk_comment.talk
      %td.text-right
        = render 'shared/showedit', :target => talk_comment
        = render 'shared/destroy', :target => talk_comment

= render 'shared/buttonrow', :new => true
