= render 'shared/indextitle'

%table.table.table-striped
  %thead
    %tr
      %th Content
      %th User
      %th Title
      %th

  %tbody
    - @talk_comments.each do |item|
      %tr
        %td= item.content
        %td= item.user.name if item.user
        %td= item.talk.title if item.talk
        %td.text-right
          = render 'shared/showedit', :target => item
          = render 'shared/destroy', :target => item

= render 'shared/buttonrow'
