%h2 Logg inn til din profil

= simple_form_for resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-inline' } do |f|
  = f.input :email, :autofocus => true
  = f.input :password
  = f.input :remember_me, :class => 'form-inline', :collection=> [["", "1"]], :as => :check_boxes
  = f.button :submit, :class => 'btn btn-large btn-primary', :value => "Logg på"
=render "devise/shared/links"
