%table{:class => 'table'}
  %thead
    %tr
      %th= 'Id'
      %th= 'Type'
      %th= 'Created'
      %th= 'Price'
      %th= 'Completed'
      %th= 'Completed at'
      %th= 'Paid amount'
      %th= 'Order'
      %th= 'Handling'
  %tbody
    - for payment in @payments
      %tr
        %td= link_to '#' + payment.id.to_s, {:action => 'show', :id=>payment.id}
        %td= payment.type
        %td= payment.created_at
        %td= payment.price
        %td= payment.completed ? "Yes" : "No"
        %td= payment.completed_at
        %td= payment.paid_amount
        %td= link_to '#'+payment.order.id.to_s, {:controller => :orders, :action => 'show', :id => payment.order.id} if payment.order
        %td= link_to 'Delete', {:action => 'destroy', :id => payment.id }, :confirm =>"Are you sure", :method=>:delete, :class => 'btn btn-danger'