%a{:href => "#{payments_manual_path}"}
  %i.icon-list
  Følge opp manuelle fakturaer

%h2 Alle betalinger
%table{:class => 'table'}
  %thead
    %tr
      %th Id
      %th Type
      %th Opprettet
      %th Pris
      %th Betalt dato
      %th Betalt sum
      %th Bestilling
      %th
  %tbody
    - for payment in @payments
      %tr
        %td= link_to '#' + payment.id.to_s, {:action => 'show', :id=>payment.id}
        %td= payment.type
        %td= payment.created_at.to_formatted_s(:long)
        %td= "#{payment.price},-"
        %td= payment.completed_at.to_formatted_s(:long) if payment.completed_at
        %td= payment.paid_amount
        %td= link_to '#'+payment.order.id.to_s, {:controller => :orders, :action => 'show', :id => payment.order.id} if payment.order
        %td
          = link_to({:action => 'destroy', :id => payment.id }, :confirm =>"Are you sure", :method=>:delete, :class => 'btn btn-danger', :title => "Slett betaling") do
            %i{:class => "icon-user icon-remove"}