<h2>Manuell fakturering</h2>

%dl.dl-horizontal
  %dt BestillingsID:
  %dd #{@manual_payment.order.id}
  %dt Påmelder:
  %dd #{@manual_payment.order.owner.name}
  %dt Antall deltakere:
  %dd #{@manual_payment.order.users.count}
  %dt Total pris:
  %dd #{@manual_payment.order.price},-

= simple_form_for @manual_payment, :url => {:action => :create_manual}, :html => { :class => 'form-horizontal'} do |f|
  = f.input :order_id, :as => 'hidden'
  = f.input :manual_contact_person
  = f.input :manual_company_name
  = f.input :manual_organization_number
  = f.input :manual_company_email, :type => "email", :hint => "Dersom du oppgir epost benyttes denne for å sende faktura."

  = f.input :manual_street_address
  = f.input :manual_post_code, :type => "number"
  = f.input :manual_city

  %p
    PS! Dette er en manuell prosess. Det kan ta noen dager før du får tilsendt en faktura!

  .form-actions
    = f.button :submit, :class => 'btn-primary', :value => t("general.manual_payment.create")
