=render 'show_common'

%h3 Fakturainfo:

= simple_form_for @payment, :url => {:action => :update_manual, :id => @payment.id}, :html => { :class => 'form-horizontal'} do |f|
  = f.input :manual_contact_person
  = f.input :manual_company_name
  = f.input :manual_organization_number
  = f.input :manual_company_email, :type => "email"
  = f.input :manual_street_address
  = f.input :manual_post_code, :type => "number"
  = f.input :manual_city

  .form-actions
    = f.button :submit, :class => 'btn-primary', :value => t("general.manual_payment.update")

= link_to 'Vis alle betalinger', payments_path
