=render 'show_common'

:markdown
  ## Paypal info:
  - **paypal_params:** #{@payment.paypal_params}
  - **paypal_tx_id:** #{@payment.paypal_tx_id}
  - **paypal_tx_type:** #{@payment.paypal_tx_type}
  - **paypal_currency:** #{@payment.paypal_currency}
  - **paypal_status:** #{@payment.paypal_status}
  - **paypal_payer_email:** #{@payment.paypal_payer_email}