=render 'show_common'

:markdown
  ## Paypal info:
  - **tx_id:** #{@payment.paypal_tx_id}
  - **tx_type:** #{@payment.paypal_tx_type}
  - **currency:** #{@payment.paypal_currency}
  - **status:** #{@payment.paypal_status}
  - **payer_email:** #{@payment.paypal_payer_email}
  - **Alle parameter:** #{@payment.paypal_params}

= link_to 'Vis alle betalinger', payments_path
