= simple_form_for room, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :color
  = f.input :details
  = f.input :priority
  = f.input :size

  = render 'shared/formactions', :f => f
