= render 'shared/indextitle'

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Details
      %th Size
      %th Colour
      %th Priority
      %th

  %tbody
    - @rooms.each do |item|
      %tr
        %td= item.name
        %td= item.details
        %td= item.size
        %td{:style => "background-color: #{item.color}"}= item.color
        %td= item.priority
        %td.text-right
          = render 'shared/showedit', :target => item
          - if item.can_delete?
            = link_to 'Delete', item, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
          - else
            %a.btn.btn-warning.disabled= pluralize(item.talk_count, 'talk')

= render 'shared/buttonrow'
