%h1 Room

%p#notice= notice

%p
  %b Name:
  = @room.name
%p
  %b Details:
  = @room.details

= link_to 'Edit', edit_room_path(@room), :class => 'btn btn-primary'
\|
= link_to 'Back', rooms_path, :class => 'btn btn-default'
