= render 'shared/indextitle'

%table.table.table-striped
  %tr
    %th Name
    %th Duration
    %th Visible
    %th

  - @talk_types.each do |talk_type|
    %tr
      %td= talk_type.name
      %td= talk_type.duration
      %td= talk_type.visible
      %td.text-right
        = render 'shared/showedit', :target => talk_type
        = render 'shared/destroy', :target => talk_type

= render 'shared/buttonrow', :new => true
