= render 'shared/title', :prefix => 'Show'

%p#notice= notice

%p
  %b Name:
  = @talk_type.name
%p
  %b Duration:
  = @talk_type.duration
%p
  %b Visible:
  = @talk_type.visible

= render 'shared/buttonrow', :edit => true, :target => @talk_type
