.timeslot
  #{timeslot.start.to_formatted_s(:long)} - #{timeslot.end.to_formatted_s(:long)}
  %span.pull-right
    = link_to(edit_timeslot_path(timeslot), :title => "Editer") do
      %i{:class => "icon-edit"}
    = link_to({:action => 'destroy', :id => timeslot.id}, :title => "Slett", :confirm => "Sikker på at du vil slette?") do
      %i{:class => "icon-remove"}

  .rooms
    - timeslot.roomslot.each do |roomslot|
      .room
        %strong Room: 
        #{roomslot.room.name}
        .talks
          %strong Talks:
          %ul.dropzone{:data => {:roomslot_id => "#{roomslot.id}"}}
            - roomslot.talks.each do |talk|
              = render 'talk', :talk => talk

        = link_to 'Edit', edit_roomslot_path(roomslot)
        = link_to 'Slett', roomslot, :method => :delete, :data => { :confirm => 'Are you sure?' }

    .clear
  %a(href="#{new_roomslot_path}?timeslot_id=#{timeslot.id}")
    Legg til rom