%h1 Alle foredrag sortert på score

- i = 1

%ul
  - @talks_feedbacks_count.each do |element|
    %li
      %strong
        = link_to({:controller => "feedback_votes", :action => "show", :id => element.talk.id}) do
          #{'#'+i.to_s}
          #{element.talk.title} - #{element.talk.user.name}  (#{element.talk.id})
      %br
      #{element.feedbacks.length} / #{element.avg}
    - i = i +1