= link_to "Tilbake til foredrag",  @talk 
%h2= @talk.try(:title)

- if @talk.users.include?(current_user) || @talk.user == current_user ||  current_user.admin 
  %ul
    %li Konferansesnitt: #{@total_avg} 
    %li 
      %strong Ditt snitt: #{@avg}

  %h4 Kommentarer:
  %ul
  - for v in @comments
    %li= v.try(:comment)


  #container
  %br

  %table.table.datatable{:style => "background: white;"}
    %tr
      %th Katakter
      %th.text-right Antall
    - for vote in @votes
      %tr
        %td #{vote}
        %td.text-right
          - if @feedbacks[vote]
            = @feedbacks[vote].length
          - else 
            0
  

- else 
  Du har ikke tilgang!
