= render 'shared/indextitle'

%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Abbreviation
      %th Color
      %th

  %tbody
    - @talk_categories.each do |item|
      %tr
        %td= item.name
        %td= item.abbreviation
        %td{ :style => "background-color: #{item.colour}"}= item.colour
        %td.text-right
          = render 'shared/showedit', :target => item
          = render 'shared/destroy', :target => item

= render 'shared/buttonrow'
