= render 'shared/indextitle'

%table.table.table-striped
  %tr
    %th Name
    %th

  - @talk_categories.each do |talk_category|
    %tr
      %td= talk_category.name
      %td.text-right
        = render 'shared/showedit', :target => talk_category
        = render 'shared/destroy', :target => talk_category

= render 'shared/buttonrow', :new => true
