= render 'shared/title', :prefix => 'Show'

%p#notice= notice

%p
  %b Name:
  = @talk_category.name

%p
  %b Abbreviation:
  = @talk_category.abbreviation

%p{:style => "background-color: #{@talk_category.colour}"}
  %b Colour:
  = @talk_category.colour

= render 'shared/buttonrow', :target => @talk_category
