//.row-fluid.news
//  .span6
//    %article
//      :markdown
//        ## Keynote 
//
//        Vi er stolte av å ha fått David J. Anderson til å holde en av keynotene på Smidig 2013. Han har tidligere //omkalfatret IT-bransjen med Kanban, har han noen nye revolusjoner planlagt for Smidig 2013? Meld deg på og// //finn ut!
//
//      %a(href="#{info_david_path}")
//        Les mer om Mr. Anderson og meld deg på her
  
//.span6
//  %article
//    :markdown
//      ## Vil du snakke på Smidig?
//
//      Å snakke på Smidig er en fin mulighet til å spre kunnskap og siste erfaringer innen smidig utvikling.
//      Kanskje klarer du å inspirere eller provosere frem en god open space som arrangeres senere på dagen?
//      I fjor hadde vi 64 lyntaler og 8 workshopper. For å få til dette trenger vi gode foredragsholdere!
//
//      %a.pull-right(href="#{new_talk_path}")
//      Foreslå lyntale eller workshop
//  
.row-fluid.news
  .span6
    %article

      :markdown
        ## Seminar: Smidig i offentlig sektor

        Smidigkonferansen ønsker å bidra til at smidig blir tatt i bruk i større grad gjennom å støtte seminaret Smidig digitalisering av offentlig sektor den 3.juni på Holbergs Terrasse i Oslo. Programmet er fantastisk spennende!

      %a.pull-right(href="https://www.deltager.no/participant/arrangement.aspx?id=94638")
        Les mer og meld deg på seminaret her


  .span6
    %article 
      :markdown
        ## Gruppepåmelding

        Også i år tilbyr Smidigkonferansen gruppepåmelding. Dette forenkler påmelding og betaling for 
        bedrifter som ønsker å sende flere deltakere

      %a(href="#{info_gruppepaamelding_path}")
        Les mer om gruppepåmelding

.row-fluid.news
  .span6
    %article

      :markdown
        ## Sponse Smidig 2014?

        Konferansen finansieres av deltakeravgift og sponsormidler.
        Å være sponsor for Smidig 2014 er et sterkt signal om at selskapet stiller seg
        bak bevegelsen for smidige metoder og støtter opp under det frivillige initiativet som er
        drivkraften bak arrangement.

      %a.pull-right(href="#{info_sponsor_path}")
        Les mer om å sponse årets Smidigkonferanse

  .span6
    %article 
      :markdown
        ## Det beste fra Smidigkonferansen

        Trenger du inspirasjon? Alle foredragene fra tidligere konferanser finner du på Vimeo

      %a(href="http://vimeopro.com/smidig/smidig-2013")
        Se fjorårets foredrag

.row-fluid.news
  .span6
    %article 
      :markdown
        ## Om konferansen

        Smidigkonferansen er en årlig konferanse for og av fagmiljøet selv. Her får du høre hvordan andre
        prosjektdeltakere som deg takler hverdagen i sine smidige og kanskje ikke så smidige prosjekter.

      %a.pull-right(href="#{info_about_path}")
        Les mer om Smidigkonferansen