.row-fluid.news
  

.row-fluid.news
  .span6
    %article

      :markdown
        ##  Call for Speakers

         Ønsker du å holde foredrag selv på Smidig 2014? Vi 
         åpner nå opp for innsending av abstracts for konferansen, 
         og kommer til å vurdere forslagene fortløpende. Fristen
         for å sende inn forslag er 7. oktober.

      %a(href="#{new_talk_path}")
        Foreslå lyntale eller workshop

  .span6
    %article
      :markdown
        ## Keynotes på Smidig 2014 

        Smidigkonferansen er stolte av å kunne annonsere at både Jim Benson og Henrik Kniberg har blitt booket som keynote-speakers på konferansen.

      %a.pull-right(href="#{info_keynote_path}")
        Les mer om foredragsholderene

.row-fluid.news
  .span6
    %article
      :markdown
        ## Foreløpig godkjente foredrag

        Vi godkjenner foreslåtte foredrag fortløpende frem mot konferansen.

      %a(href="#{talks_list_path}")
        Se godkjente foredrag

  .span6
    %article

      :markdown
        ## Sponse Smidig 2014?

        Konferansen finansieres av deltakeravgift og sponsormidler.
        Å være sponsor for Smidig 2014 er et sterkt signal om at selskapet stiller seg
        bak bevegelsen for smidige metoder og støtter opp under det frivillige initiativet som er
        drivkraften bak arrangement.

      %a.pull-right(href="#{info_sponsor_path}")
        Les mer om å sponse årets Smidigkonferanse

.row-fluid.news
  .span6
    %article 
      :markdown
        ## Gruppepåmelding

        Også i år tilbyr Smidigkonferansen gruppepåmelding. Dette forenkler påmelding og betaling for
        bedrifter som ønsker å sende flere deltakere

      %a(href="#{info_gruppepaamelding_path}")
        Les mer om gruppepåmelding

  .span6
    %article 
      :markdown
        ## Om konferansen

        Smidigkonferansen er en årlig konferanse for og av fagmiljøet selv. Her får du høre hvordan andre
        prosjektdeltakere som deg takler hverdagen i sine smidige og kanskje ikke så smidige prosjekter.

      %a.pull-right(href="#{info_about_path}")
        Les mer om Smidigkonferansen
.row-fluid.news
  .span6
    %article
      :markdown
        ## Det beste fra Smidigkonferansen

        Trenger du inspirasjon? Alle foredragene fra tidligere konferanser finner du på Vimeo

      %a(href="http://vimeopro.com/smidig/smidig-2013")
        Se fjorårets foredrag
