.content-wrapper
  %article.intro
    .date-time
      .location
      .date
      .small
    %h1 Nå er alle videoer fra Smidigkonferansen 2015 ute
    %a(href="https://vimeo.com/album/3642046")
      Se alle vidoene her
  -#
    %h1 Velkommen til Smidig 2015!
    %p.preface
      Billettsalget for konferansen er nå i gang.

      - if setting_for('early-bird-available')
        De som er tidlig ute vil kunne sikre seg billetter til en svært god pris,
        Early Bird billetter er tilgjengelig og koster
        = early_bird_ticket_price()
        \.
      - else
        Billetter koster
        = regular_ticket_price()
        og er tilgjengelig helt frem til konferansen.

    = link_to('Meld deg på Smidig 2015!', new_user_registration_path, {:class => "btn pull-right"})

    = form_for TippedUser.new, :html => { :id => 'tip-a-friend', :class => "pull-left", :'data-title' => 'Vet du om noen som burde delta på årets Smidigkonferanse? Oppgi epostadresse her og vi sender en mail med informasjon.' } do |f|
      %label= "Tips en venn om Smidig"
      = f.email_field :email, :placeholder => 'E-post'
      = f.submit :class => 'btn btn-primary', :value => 'Tips en venn'

.fb-like{"data-href" => "http://www.facebook.com/smidig", "data-send" => "true", "data-show-faces" => "true", "data-width" => "900"}
