%span.toggle-menu
  MENY
%ul.header-nav
  - if user_signed_in?
    %li
      %a{:href => "/", :class=>current_page?("/") ? "active" : "", :title => "Din smidigprofil"}
        Din smidigprofil
  - if setting_for('program-available')
    %li
      = link_to('Program', program_path,
      {:class=>current_page?(program_path) ? "active" : "", :title => "Programmet"})
  - unless talk_suggestion_deadline.past?
    %li
      = link_to('Foreslå foredrag', new_talk_path,
      {:class=>current_page?(new_user_registration_path) && suggesting_talk? ? "active" : "", :title => "Foreslå foredrag"})
  - if user_signed_in?
    %li
      = link_to('Logg ut', destroy_user_session_path, :method=>'delete')
  - else
    %li
      = link_to('Meld deg på', new_user_registration_path, 
      {:class=>current_page?(new_user_registration_path) && !suggesting_talk? ? "active" : "", :title => "Meld deg på"})
  - if user_signed_in? and current_user.admin

    %li
      %a
        Admin
      %ul
        %li= link_to 'Deltakere', users_path
        %li= link_to 'Bestillinger', orders_path
        %li= link_to 'Betalinger', payments_path
        %li= link_to 'Billetter', tickets_path
        %li= link_to 'Sal', rooms_path
        %li= link_to 'Foredrag', talks_path
        %li= link_to 'Foredragstyper',talk_types_path
        %li= link_to 'Sponsorer', sponsors_path
        %li= link_to 'Foredragskategorier', talk_categories_path
        %li= link_to 'Program Admin',  timeslots_path
        %li= link_to 'App Konfigurasjon', settings_path
        %li= link_to 'Statistikk', administration_statistics_path
        %li= link_to 'Tøm cachene', administration_caches_path
