%ul.nav
  %li{:class=>current_page?(info_about_path) ? "active" : ""}
    %a{:href => "#{info_about_path}"}
      Om konferansen
  %li{:class=>current_page?(info_sponsor_path) ? "active" : ""}
    = link_to('Sponse', info_sponsor_path)
  - unless Rails.env.production?
    %li{:class=>current_page?(my_profile_index_path) ? "active" : ""}
      = link_to('Min profil', my_profile_index_path)
    - if user_signed_in?
      %li
        = link_to('Logout', destroy_user_session_path, :method=>'delete')
    - else
      %li{:class=>current_page?(new_user_registration_path) ? "active" : ""}
        = link_to('Påmelding', new_user_registration_path)
    - if user_signed_in? and current_user.admin

      %li.dropdown
        %a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
          Admin
          %b.caret
        %ul.dropdown-menu
          %li
            %a{:href => "#{users_path}"} Deltakere
          %li
            %a{:href => "#{orders_path}"} Bestillinger
          %li
            %a{:href => "#{payments_path}"} Betalinger
          %li
            %a{:href => "#{tickets_path}"} Billetter
          %li
            %a{:href => "#{talks_path}"} Foredrag
          %li
            %a{:href => "#{talk_types_path}"} Foredragstyper
          %li
            %a{:href => "#{sponsors_path}"} Sponsorer
          %li
            %a{:href => "#{talk_categories_path}"} Foredragskategorier
          %li
            = link_to("Statistikk", administration_statistics_path)