.flex-container.top-slider
  .flexslider
    %ul.slides
      %li
        %a(href="#{new_user_registration_path}")
          %img{:src => "#{image_path "vi_planlegger.jpg"}"}
          .row-fluid
            .caption.span5.offset1
              %h5.title
                Vi har startet påmeldingen til Smidig 2015
              %p.text
                Meld deg på i dag!
      %li
        %a(href="#{new_talk_path}")
          %img{:src => "#{image_path "slide_fish.jpg"}"}
          .row-fluid
            .caption.span5.offset1
              %h5.title
                Call for Speaker
              %p.text
                Vil du holde lyntale på Smidig 2015? Registrer deg her..
      -#
        %li
          %a(href="http://vimeo.com/album/3107510")
            %img{:src => "#{image_path "takk-for-oss-1.jpg"}"}
            .row-fluid
              .caption.span5.offset1
                %h5.title
                  Smidig 2014 er nå over!
                %p.text
                  Fortvil ikke, alle presentasjonene er lastet opp til Vimeo!
        %li
          %a(href="http://vimeo.com/album/3107510")
            %img{:src => "#{image_path "takk-for-oss-2.jpg"}"}
            .row-fluid
              .caption.span5.offset1
                %h5.title
                  Smidig 2014 er nå over!
                %p.text
                  Fortvil ikke, alle presentasjonene er lastet opp til Vimeo!
        %li
          %a(href="http://vimeo.com/album/3107510")
            %img{:src => "#{image_path "takk-for-oss-3.jpg"}"}
            .row-fluid
              .caption.span5.offset1
                %h5.title
                  Smidig 2014 er nå over!
                %p.text
                  Fortvil ikke, alle presentasjonene er lastet opp til Vimeo!
        %li
          %a(href="http://vimeo.com/album/3107510")
            %img{:src => "#{image_path "takk-for-oss-4.jpg"}"}
            .row-fluid
              .caption.span5.offset1
                %h5.title
                  Smidig 2014 er nå over!
                %p.text
                  Fortvil ikke, alle presentasjonene er lastet opp til Vimeo!
