.flex-container.top-slider
  .flexslider
    %ul.slides
      %li
        %a(href="#{program_path}")
          %img{:src => "#{image_path "igang.jpg"}"}
          .row-fluid
            .caption.span5.offset1
              %h5.title
                Da er vi igang, følg oss på #smidig15
              %p.text
                Det er også mulig å melde seg på ved oppmøte
    -#
      %li
        %a(href="#{new_user_registration_path}")
          %img{:src => "#{image_path "vi_planlegger.jpg"}"}
          .row-fluid
            .caption.span5.offset1
              %h5.title
                Nå nærmer det seg Smidig 2015
              %p.text
                Fortsatt ledige biletter!
    -#
      %li
        %a(href="#{new_talk_path}")
          %img{:src => "#{image_path "slide_fish.jpg"}"}
          .row-fluid
            .caption.span5.offset1
              %h5.title
                Call for Speaker
              %p.text
                Siste frist for å sende inn ditt forslag er #{l talk_suggestion_deadline, :format => '%-d. %B'}!!
      %li
        %a(href="#{new_user_registration_path}")
          %img{:src => "#{image_path "vi_planlegger.jpg"}"}
          .row-fluid
            .caption.span5.offset1
              %h5.title
                Vi har startet påmeldingen til Smidig 2015
              %p.text
                Meld deg på i dag!
        %li
          %a(href="http://vimeo.com/album/3107510")
            %img{:src => "#{image_path "takk-for-oss-1.jpg"}"}
            .row-fluid
              .caption.span5.offset1
                %h5.title
                  Smidig 2014 er nå over!
                %p.text
                  Fortvil ikke, alle presentasjonene er lastet opp til Vimeo!
        %li
          %a(href="http://vimeo.com/album/3107510")
            %img{:src => "#{image_path "takk-for-oss-2.jpg"}"}
            .row-fluid
              .caption.span5.offset1
                %h5.title
                  Smidig 2014 er nå over!
                %p.text
                  Fortvil ikke, alle presentasjonene er lastet opp til Vimeo!
        %li
          %a(href="http://vimeo.com/album/3107510")
            %img{:src => "#{image_path "takk-for-oss-3.jpg"}"}
            .row-fluid
              .caption.span5.offset1
                %h5.title
                  Smidig 2014 er nå over!
                %p.text
                  Fortvil ikke, alle presentasjonene er lastet opp til Vimeo!
        %li
          %a(href="http://vimeo.com/album/3107510")
            %img{:src => "#{image_path "takk-for-oss-4.jpg"}"}
            .row-fluid
              .caption.span5.offset1
                %h5.title
                  Smidig 2014 er nå over!
                %p.text
                  Fortvil ikke, alle presentasjonene er lastet opp til Vimeo!
