.flex-container.top-slider
  .flexslider
    %ul.slides
      %li
        %a(href="#{new_user_registration_path}")
          // TODO: Add correct image with proper size (940 x 400)
          %img{:src => "#{image_path "slide_1.jpg"}"}
          .row-fluid
            .caption.span5.offset1
              %h5.title 
                Fristen nærmer seg!
              %p.text
                Fristen for å melde seg på til 
                early bird pris er 
                %strong 1.&nbsp;oktober. 
      %li
        %a(href="#{info_tema_path}")
          %img{:src => "#{image_path "slide_4.jpg"}"}
          .row-fluid
            .caption.span5.offset1
              %h5.title
                Tema Smidig 2013
              %p.text
                Produktkøen, Software Craftsmanship, Team, Realisering av verdi, Smidig Testing, 
                Innovasjon, Continuous Delivery og DevOps. 
      %li
        %a(href="#{info_david_path}")
          // TODO: Add correct image with proper size (940 x 400)
          %img{:src => "#{image_path "slide_david.jpg"}"}
          .row-fluid
            .caption.span5.offset1
              %h5.title
                Kanban - an alternative path to agility
              %p.text
                David Anderson kommer til Smidig 2013