!!!
%html
  %head
    = render 'layouts/head'
  %body.smidig{:class=>"#{@body_class}"}
    #header.container
      .row-fluid
        .span10.offset1.menu-row
          %header.header
            %a.brand{:href=>"http://www.smidig.no"}
              Smidig 2016
            = render 'layouts/navigation'
        -#
          .row-fluid
            .span12
              = render :partial => "layouts/topslider"
          .row-fluid
            .span10.offset1
              = render :partial => "layouts/intro"
    -#
    #main.container
      .row-fluid
        .span10.offset1.content-wrapper
          = render 'layouts/messages' unless flash.empty?
          = yield
  -#
    #footer.container
      - if current_page?('/')
        = render :partial => 'sponsors/list'
    -#
      .row-fluid
        .span10.offset1
          .row-fluid.footer-wrapper
            / Widget 1
            .widget.span4
              -#%a.twitter-timeline{:href => 'https://twitter.com/smidig', :data => {:'widget-id' => '656533530319716352', :chrome => 'transparent'}}
              -#= render 'layouts/twitter_user'
              %a.twitter-timeline{:href => 'https://twitter.com/search?q=%40smidig', :data => {:'widget-id' => '656540763841503232', :chrome => 'transparent'}}
              = render 'layouts/twitter_search'
            .span4
              / Widget 2
              .widget.vimeo
                %h4.heading.vimeo-icon
                  Vimeo
                %ul
                  %li
                    %a{:href => "http://vimeo.com/smidig", :target => "_blank"} Videoarkiv på Vimeo
              / Widget 3
              .widget.history
                %h4.heading.history-icon
                  Tidligere konferanser
                %a{:href => "http://2014.smidig.no", :target => "_blank"} 2014.smidig.no,
                %a{:href => "http://2013.smidig.no", :target => "_blank"} 2013.smidig.no,
                %a{:href => "http://2012.smidig.no", :target => "_blank"} 2012.smidig.no,
                %a{:href => "http://2011.smidig.no", :target => "_blank"} 2011.smidig.no,
                %a{:href => "http://2010.smidig.no", :target => "_blank"} 2010.smidig.no,
                %a{:href => "http://smidig2009.no", :target => "_blank"} smidig2009.no,
                %a{:href => "http://smidig2008.no", :target => "_blank"} smidig2008.no,
                %a{:href => "http://smidig2007.no", :target => "_blank"} smidig2007.no

            .follow-us.span4
              %h4.heading
                Følg oss
              %ul
                %li
                  %a{:href => "https://twitter.com/smidig", :target => "_blank", :class => "twitter"} twitter.com
                %li
                  %a{:href => "http://www.facebook.com/smidig", :target => "_blank", :class => "facebook"} facebook.com
                %li
                  %a{:href => "https://www.linkedin.com/groups?gid=963587", :target => "_blank", :class => "linkedin"} linkedin.com
