!!!
%html
  %head
    = render 'layouts/head'
  %body.smidig{:class=>"#{@body_class}"}
    #header.container
      .row-fluid
        .span10.offset1.menu-row
          %header.header
            %a.brand{:href=>"/"}
              Smidig 2015
            = render 'layouts/navigation'
      - if current_page?('/')
        .row-fluid
          .span12
            = render :partial => "layouts/topslider"
        .row-fluid
          .span10.offset1
            = render :partial => "layouts/intro"            
    - if current_page?('/')
      = render :partial => 'sponsors/list'
    #main.container
      .row-fluid
        .span10.offset1.content-wrapper
          = render 'layouts/messages' unless flash.empty?
          = yield
    - if !current_page?('/')
      = render :partial => 'sponsors/list'

    #footer.container
      .row-fluid
        .span10.offset1
          .row-fluid.footer-wrapper
            / Widget 1
            .widget.twitter.span4
              %h4.heading.twitter-icon
                Twitter
              .tweet
            .span4
              / Widget 2
              .widget.vimeo
                %h4.heading.vimeo-icon
                  Vimeo
                %ul
                  %li
                    %a{:href => "http://vimeo.com/smidig"} Videoarkiv på Vimeo
              / Widget 3
              .widget.history
                %h4.heading.history-icon
                  Tidligere konferanser
                %a{:href => "http://2014.smidig.no"} 2014.smidig.no,
                %a{:href => "http://2013.smidig.no"} 2013.smidig.no,
                %a{:href => "http://2012.smidig.no"} 2012.smidig.no,
                %a{:href => "http://2011.smidig.no"} 2011.smidig.no,
                %a{:href => "http://2010.smidig.no"} 2010.smidig.no,
                %a{:href => "http://smidig2009.no"} smidig2009.no,
                %a{:href => "http://smidig2008.no"} smidig2008.no,
                %a{:href => "http://smidig2007.no"} smidig2007.no

            .follow-us.span4
              %h4.heading
                Følg oss
              %ul
                %li
                  %a{:href => "https://twitter.com/smidig", :target => "_blank", :class => "twitter"} twitter.com
                %li
                  %a{:href => "http://www.facebook.com/smidig", :target => "_blank", :class => "facebook"} facebook.com
                %li
                  %a{:href => "https://www.linkedin.com/groups?gid=963587", :target => "_blank", :class => "linkedin"} linkedin.com
