!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Smidig 2013 - 5. og 6. november i Oslo"
    %meta{:content => "Smidig 2013 - 5. og 6. november i Oslo", :property => "og:title"}
    %meta{:content => "#{asset_url "smidig_logo_180.png"}", :property => "og:image"}
    %meta{:content => "image/png", :property => "og:image:type"}
    %meta{:content => "180", :property => "og:image:width"}
    %meta{:content => "180", :property => "og:image:height"}
    %meta{:content => "Smidigkonferansen er en årlig konferanse for og av fagmiljøet selv. Her får du høre hvordan andre prosjektdeltakere som deg takler hverdagen i sine smidige og kanskje ikke så smidige prosjekter", :name => "description"}
    %meta{:content => "Smidigkonferansen er en årlig konferanse for og av fagmiljøet selv. Her får du høre hvordan andre prosjektdeltakere som deg takler hverdagen i sine smidige og kanskje ikke så smidige prosjekter", :property => "og:description"}
    %meta{:content => "smidig, kanban, agile, workshop, konferanse, oslo, scrum, lean, startup, testledelse, continous deployment, open space, keynote, produkteier, certified scrum master", :name => "keywords"}
    %meta{:content => "Smidigkonferansen", :name => "author"}
    %link{:href => "http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,700,800", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    == <!--[if lt IE 9]>
    == <![endif]-->
    = yield(:head)
  %body.smidig{:class=>"#{@body_class}"}
    #header.container
      .row-fluid
        .span10.offset1.menu-row
          %header.header
            %a.brand{:href=>"/"}
              Smidig 2013
            = render 'layouts/navigation'
            = render 'layouts/messages' unless flash.empty?
      - if current_page?('/')
        .row-fluid
          .span12
            = render :partial => "layouts/topslider"
        .row-fluid
          .span10.offset1
            = render :partial => "layouts/intro"            
    - if current_page?('/')
      = render :partial => 'sponsors/list'
    #main.container
      .row-fluid
        .span10.offset1.content-wrapper
          = yield
    - if !current_page?('/')
      = render :partial => 'sponsors/list'

    #footer.container
      .row-fluid
        .span10.offset1
          .row-fluid.footer-wrapper
            / Widget 1
            .widget.twitter.span4
              %h4.heading.twitter-icon
                Twitter
              .tweet
            .span4
              / Widget 2
              .widget.vimeo
                %h4.heading.vimeo-icon
                  Vimeo
                %ul
                  %li
                    %a{:href => "http://vimeo.com/smidig"} Videoarkiv på Vimeo
              / Widget 3
              .widget.history
                %h4.heading.history-icon
                  Tidligere konferanser
                %a{:href => "http://smidig2012.no"} smidig2012.no,
                %a{:href => "http://smidig2011.no"} smidig2011.no,
                %a{:href => "http://smidig2010.no"} smidig2010.no,
                %a{:href => "http://smidig2009.no"} smidig2009.no,
                %a{:href => "http://smidig2008.no"} smidig2008.no,
                %a{:href => "http://smidig2007.no"} smidig2007.no

            .follow-us.span4
              %h4.heading
                Følg oss
              %ul
                %li
                  %a{:href => "https://twitter.com/smidig", :target => "_blank", :class => "twitter"} twitter.com
                %li
                  %a{:href => "http://www.facebook.com/smidig", :target => "_blank", :class => "facebook"} facebook.com
                %li
                  %a{:href => "https://www.linkedin.com/groups?gid=963587", :target => "_blank", :class => "linkedin"} linkedin.com